*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}


.hero{
	height: 100vh;
	width: 100%;
	background-color:black;
	background-size: cover;
	background-position: center;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 25px;
	padding-left: 8%;
	padding-right: 8%;
	padding-top:20px;
}

.logo{
	color: silver;
	font-size: 50px;
	letter-spacing: 1px;
	cursor:wait;
	margin-right:50px;
}
span{
	color: yellow;
}
.big{
	color:yellow;
	font-size: 15px;
	text-align:justify;
}
.big1{
	font-size:15px;
	color:cyan;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: blue;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
	
}
nav ul li a:hover{
	color: yellow;
	transition: .4s;
}
.btn{
	background-color:yellow;
	color: black;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 20px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.3);
}
.content{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}
h3{
	color: white;
	font-size: 40px;
	margin-bottom: 50px;
}
h4{
	color: cyan;
	font-style:italic;
	letter-spacing: 2px;
	font-size: 34px;
}
h6{
	color:yellow;
	letter-spacing:2px;
	font-size:28px;
}
.newslatter form{
	width: 380px;
	max-width: 100%;
	position: relative;
}
.newslatter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid #f9004d;
	outline: none;
	border-radius: 30px;
}
.newslatter form input:last-child{
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color:#f9004d;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px; 
}

.about{
	width: 100%;
	padding: 100px 0px;
	background-color:black;
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
	margin-left:30px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	margin-left:30px;
	text-transform: capitalize;
}
.about-text p{
	color: yellow;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
	margin-left:30px;
}
button{
	background-color:green;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 50px;
    transition: .4s;
}
button:hover{
	background-color:blue;
	border: 2px solid #f9004d;
	cursor: pointer;
	transform: scale(1,3);
	
}

.service{
	background: #101010;
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: yellow;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color:lightblue;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}

.card .button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}
.contact-me{
	width: 100%;
	height: 550px;
	background:black;
	display: flex;
	align-items: left;
	flex-direction: column;
	justify-content: left;
	
}
.contact-me p{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
	margin-top:10px;
}
.contact-me .button-two{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
.contact-me .button-two:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}
footer{
	position: relative;
	width: 100%;
	height: 300px;
	background:grey;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: black;
	margin-top: 45px;
	font-weight: bold;
	
}
footer p:nth-child(2){
	color:black;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
	margin-top:10px;
}
.social{
	display: flex;
	
}
.social a{
	width: 50px;
	height: 50px;
	display:flex;
	align-items: center;
	justify-content: center;
	background:blue;
	border-radius: 60%;
	margin: 20px 10px;
	color: blue;
	text-decoration: none;
	font-size: 30px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .4s;
}


* {box-sizing:border-box}

.container {
  width: 30%; 
  background-color:silver;
  border-radius: 30px;
  align-content: center;
  justify-content: center;
}

.skills {
  text-align: left; 
  padding-top: 25px; 
  padding-bottom: 25px;
  color: white; 
}
.python {width: 75%; background-color: #04AA6D;}
.html {width: 85%; background-color: #2196F3;}
.css {width: 70%; background-color: #f44336;}
.marketing {width: 85%; background-color: #808080;} 
.sql {width: 50%; background-color:#f9004d;}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.exp{
	width: 100%;
	height:600px;
	padding-top:10px; 
	background-color: #191919;
}
;

.exp-text{
	width: 550px;
	line-height:1.5;
}
.test{
	width: 1130px;
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	line-height:1.5;
}
.exp-text h4{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
	margin-bottom: 10px;
	line-height:1.5;
	
}
.exp-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
	line-height:1.5;
}
.exp-text p{
	color:white;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
	line-height:1.5;
}

#height1{
	line-height:100%;
}
.personal{
	background-color:black;
	width: 40%;
	height:60%;
	padding: 10px 0px;
	float:right;
}
.personal-text h3{
	padding-top:10px;
	
}

@media screen and (max-width:600px)
{
	h1{
		font-size:36px;
		line-height:50px;
	}
	.hero{
	height: 50px;
	width: 100%;
	background-size: cover;
	background-position: center;
}

html,body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	overflow-x:hidden;
}
}